* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    text-align: center;
}
.month-choice {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.month-choice p {
    margin: 10px;
}

li.holiday {
    color: red;
}